<li>
    <p>
        <% if (locals.user && (locals.user.id == comment.user.id)) { %>
            <small>
                <!-- Delete button -->
                <a href="/comments/destroy/<%= comment.id %>"> x </a>
            </small>
        <% } %>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
</li>