<h1> Home page </h1>

<section id="feed-posts">
    <h4>Posts</h4>

    <!-- Make the form only visible to the logged in user, 
        so that nobody else has the right to post,
        check if locals object contains user entity/key or not -->

    <!-- But if someone knows HTML, they can use chrome developer tools and make their own form, 
        to prevent that, apply a check on the controller level itself. 
        Use passport's authentication check as the middleware inside routes before entering the controller-->
    <% if (locals.user) { %>
        <form action="/posts/create-post" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
            <input type="submit" value="Post">
        </form>
    <% } %>

    <div>
        <ul>
            <% for(post of posts) { %>
                <li> 
                    <p>
                        <%= post.content %>
                        <br>
                        <small><%= post.user.name %></small>
                    </p>
                </li>
            <% }  %>
        </ul>
    </div>
    
</section>