<h1> <%= title %> </h1>

<h2><b>Name:</b> <%= user.name %> </h2>
<h2><b>Email ID:</b> <%= user.email %></h2>

<!-- <form action="/users/log-out" method="POST">
    <input type="submit" value="Log Out">
</form> -->